.input-search {
    border: 0;
    outline: 0;
    width: 30vw;
    padding: 0 24px;
    border-radius: 12px;
}

.input-search-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.input-search__list {
    display: block;
    position: absolute;
    padding: 10px;
    left: 0;
    top: 37px;
    width: 30vw;
    background-color: white;
    color: black;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 5px;
    max-height: 205px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: start;
}
