.movie-info {
    background-color: rgb(243, 193, 112);
    display: flex;
    position: relative;
    padding: 30px;
    min-height: 50vh;

    .save-icon-wrapper {
        width: 225px;
    }
}

.movie-info__poster-wrapper:hover {
    .save-icon {
        display: block !important;
    }

    .save-icon-wrapper {
        display: block;
    }
}
.movie-info {
    &__poster {
        max-width: none;
        height: 350px;
        width: 225px;
        border-radius: 10px;
    }
}

.movie-info__text-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    max-width: 85%;

    .movie-info__title {
        color: black;
    }
}

.movie-info__genres-wrapper span:not(:last-child):after {
    content: ', ';
    margin-right: 5px;
}

.movie-info__rate {
    font-size: 20px;
}

.movie-info__description-title {
    font-size: 20px;
}

.movie-info__description {
    text-align: start;
}

.cast {
    padding: 30px;
    background: white;
    min-height: calc(50vh - 50px);
}

.cast__title {
    text-align: start;
}

.actors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 550px) {
    .movie-info {
        display: block;
    }

    .movie-info__text-wrapper {
        padding-left: 0;
    }
}
