.header {
    padding: 0 20px;
    background-color: rgb(46, 46, 46);
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-search {
    border: 0;
    outline: 0;
    width: 30vw;
    padding: 0 24px;
    border-radius: 12px;
}

.input-search-wrapper {
    position: relative;
}

.input-search__list {
    display: block;
    position: absolute;
    padding: 10px;
    left: 0;
    top: 37px;
    width: 30vw;
    background-color: white;
    color: black;
    border: 2px solid rgb(46, 46, 46);
    border-radius: 5px;
    max-height: 205px;
    overflow: scroll;
    overflow-x: hidden;
    text-align: start;
    z-index: 100;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 5px 0;
}

.header__profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}

.header__nav-wrapper {
    display: flex;
    height: 100%;
}

.nav {
    margin-left: 20px;
}

.nav__list {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__options {
    display: none;
    position: absolute;
    padding: 10px;
    text-align: start;
    left: 0;
    top: 50px;
    width: 160px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 5px;
    z-index: 100;
}

.nav__options-item a {
    color: white;
}

.nav__list:hover .nav__options {
    display: block;
    cursor: pointer;
}
