.header {
    padding: 0 20px;
    background-color: rgb(46, 46, 46);
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.input-search {
    border: 0;
    outline: 0;
    width: 30vw;
    padding: 0 24px;
    border-radius: 12px;
}

.form-container {
    position: relative;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 5px 0;
}

.header__nav-wrapper {
    display: flex;
    height: 100%;
}

.nav {
    margin-left: 20px;
}

.nav__list {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__options {
    display: none;
    position: absolute;
    padding: 10px;
    text-align: start;
    left: 0;
    top: 50px;
    width: 160px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 5px;
    z-index: 100;
}

.nav__options-item a {
    color: white;
}

.nav__list:hover .nav__options {
    display: block;
    cursor: pointer;
}

.header__profile-wrapper {
    display: flex;
}

.header__auth {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    font-weight: 500;
}

.header__user-name {
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.header__log-out {
    cursor: pointer;
    font-weight: 500;
    .input-search__list::-webkit-scrollbar {
        width: 10px;
    }

    .input-search__list::-webkit-scrollbar-track {
        background: #ccc;
    }

    .input-search__list::-webkit-scrollbar-thumb {
        background: orange;
    }
}
